<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register user</title>
</head>

<form method="POST" name="Register">
  <table width = 50% align = 'center'>
    <tbody>
      <tr>
        <td align="left"> 
          <div> </div>
        </td>
        <td align="left"> 
          <div><h2>Please input user details:</h2><div>
        </td>
     </tr>
     <tr>
       <td></td> 
       <td>
         {% with messages = get_flashed_messages() %}
         	{% if messages %}
         		<ul class=flashes>
    			{% for message in messages %}
      				<li>{{ message }}</li>
    			{% endfor %}
    			</ul>
  		{% endif %}
	{% endwith %}	
       </td>		
     </tr>	 
     <tr>
        <td align="left"> 
          <div>User name</div>
        </td>
        <td align="left"> 
          <div><input type="text" name="User_name"  size="50" ></div>
        </td>
       </tr>
     <tr>
        <td align="left"> 
          <div>Login</div>
        </td>
        <td align="left"> 
          <div><input type="text" name="Login"  size="50" ></div>
        </td>
       </tr>
     <tr>
       <td>
	 <div>Password</div>
       </td>   			
       <td align="left"> 
            <div><input type="password" name="Password"  size="50"></div>
       </td>
     </tr>
     <tr>
       <td>
	 <div></div>
       </td>   			
       <td align="left"> 
            <div><input type="submit" value="Register user"><div>
       </td>
     </tr>   	
    </tbody>
  </table> 
  </form>
</html>