<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>

<style> 
	table, th, td, tr { 
    		
    		border-collapse: collapse;
		  	 		  }
	table { width: 50%;
		margin: auto;
		}

	
	th, td {
  		padding: 5px;
		}
</style>

<h2 align = "center">{% block header %} {% endblock %}</h2>
<p align = 'center'><a href= /bot-command>Return to BOT embrace</a></p>
<p></p>
<table>
	<theader>
		{% block theader_ %}{% endblock %}
	</theader>
	<tbody>
	<tr align = 'center'>
		{% block tbody_ %}{% endblock %}
	</tr>
	</tbody>
</table>

<p></p>
<div align = 'center'>
	{% block links %}{% endblock %}
	
</div>
</html>