<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please choose the engine for DataBase</title>
</head>
<style>
table, th, td, tr  { 
    border: 1px solid black;
    border-collapse: collapse;
    }

tr:nth-child(even) {
  background-color: #BFC9CA;
}
th, td {
  padding: 5px;
}
</style>
  <form method = 'POST' align = 'center'>
   <h3>Please select your preferred database engine:</h3>
    <div>  
    <input type="radio" id="mongodb"
     name="db" value="mongodb">
    <label for="mongodb">MongoDB</label>
    <p></p>
    <input type="radio" id="postgres"
     name="db" value="postgres">
    <label for="contactChoice2">PostgreSQL</label>
  </div>
  <div>
  <p></p>	    
<button type="submit">Submit</button>
  </div>
</form>
</html>           