{% extends "base_mono_color.html" %}

{% block title %}
	Edit contact details
{% endblock %}

{% block header %}
	Please edit Contact details:
{% endblock %}

{% block tbody_ %}
<form method = "POST">
     <tr>
        <td align="left"> 
           <div>Name</div>
        </td>
        <td align="left"> 
           <div><input type="text" name="Name"  size="100" value = '{{form_dict['Name']['value']}}'></div>
           <div style="color:red;">{{form_dict['Name']['error_message']}}</div>
        </td>
     </tr>
     <tr>
        <td align="left"> 
            <div>Phone list </div>
        </td> 
        <td align="left"> 
            <div><input type="text" name="Phone"  size="100" value = '{{form_dict['Phone']['value']}}'></div>
            <div style="color:red;">{{form_dict['Phone']['error_message']}}

            </div>
        </td>
     </tr>
     <tr>
        <td align="left"> 
            <div>Email</div>
        </td> 
        <td align="left"> 
            <div><input type="text" name="Email"  size="50" value = '{{form_dict['Email']['value']}}'></div>
            <div style="color:red;">{{form_dict['Email']['error_message']}}</div>
        </td>
      </tr>
      <tr>
        <td align="left">
            <div>Birthday</div>
        </td> 
        <td align="left"> 
            <div><input type="date" name="Birthday"  size="20" value = '{{form_dict['Birthday']['value']}}'></div>
            <div style="color:red;">{{form_dict['Birthday']['error_message']}}</div>
         </td>
      </tr>
      <tr>
         <td align="left"> 
            <div>ZIP</div>
         </td>
         <td align="left"> 
            <div><input type="text" name="ZIP"  size="10" value = '{{form_dict['ZIP']['value']}}'></div>
            <div style="color:red;">{{form_dict['ZIP']['error_message']}}</div>
          </td>
      </tr>
      <tr>
          <td align="left"> 
             <div>Country</div>
          </td>
          <td align="left"> 
             <div><input type="text" name="Country"  size="50" value = '{{form_dict['Country']['value']}}'></div>
             <div style="color:red;">{{form_dict['Country']['error_message']}}</p>
           </td>
       </tr>
       <tr>
           <td align="left"> 
             <div>Region</div>
           </td>
           <td align="left"> 
             <div><input type="text" name="Region"  size="50" value = '{{form_dict['Region']['value']}}'></div>
             <div style="color:red;">{{form_dict['Region']['error_message']}}</div>
           </td>
         </tr>
         <tr>
           <td align="left"> 
             <div>City</div>
           </td>
           <td align="left"> 
             <div><input type="text" name="City"  size="50" value = '{{form_dict['City']['value']}}'></div>
             <div style="color:red;">{{form_dict['City']['error_message']}}</div>
           </td>
         </tr>
         <tr>
           <td align="left"> 
             <div>Street</div>
           </td>
           <td align="left"> 
             <div><input type="text" name="Street"  size="100" value = '{{form_dict['Street']['value']}}'></div>
             <div style="color:red;">{{form_dict['Street']['error_message']}}</div>
           </td>
         </tr>
         <tr>
           <td align="left"> 
             <div>House</div>
           </td>
           <td align="left"> 
             <div><input type="text" name="House"  size="10" value = '{{form_dict['House']['value']}}' ></div>
             <div style="color:red;">{{form_dict['House']['error_message']}}</div>
           </td>
         </tr>
         <tr>
           <td align="left"> 
              <div>Apartment</div>
           </td>
           <td align="left" valign = "top"> 
              <div><input type="text" name="Apartment"  size="10" value = '{{form_dict['Apartment']['value']}}'></div>
              <div style="color:red;">{{form_dict['Apartment']['error_message']}}</div>
            </td>
         </tr>
         <tr>
	   <td></td>
           <td>
              <div align = 'center'><input type="submit" value="Save contact"><div>
           </td>
	 </tr>  		
  </form>
{% endblock%}



